/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('http://gruporeal.com.co/Imagenes/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #0077C8;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.black-text {
    color: #000;
}

.construction-message {
    font-weight: bold;
    color: #FF0000;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.contact-info {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 0;
}
